footer {
  background-color: #333333;
  color: #9a9a9a;
}
footer a {
  color: #9a9a9a;
}
footer div.wrap {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 75% auto;
  grid-template-rows: auto auto auto;
  row-gap: 15px;
}
footer div.wrap ul.fnb {
  grid-column: 1 / span 2;
}
footer div.wrap ul.fnb li {
  
}
footer div.wrap ul.fnb li a {
  padding-right: 10px;
  display: block;
  line-height: 1.5;
}
footer div.wrap ul.fnb li:last-child a {
  color: white;
}
footer div.wrap address {
  line-height: 1.5;
  margin-bottom: 10px;
}
footer div.wrap address a {
  
}
footer div.wrap p.copyright {
  
}
footer div.wrap div.corp {
  grid-row: 2 / span 2;
  grid-column: 2;
}
footer div.wrap div.corp h2 {
  
}
footer div.wrap div.corp ul {
  
  line-height: 2;
}
footer div.wrap div.corp ul li {
  
}
footer div.wrap div.corp ul li a {
  
}
footer div.wrap div.corp ul li a::before {
  content: "";
  width: 80px;
  height: 30px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 10px; 
}
footer div.wrap div.corp ul li:nth-child(1) a::before {
  background-image: url(../img/footericon1.svg);
}
footer div.wrap div.corp ul li:nth-child(2) a::before {
  background-image: url(../img/footericon2.svg);
}
footer div.wrap div.corp ul li:nth-child(3) a::before {
  background-image: url(../img/footericon3.svg);
}
footer a.Btop {
  font-size: 0;
  width: 70px;
  height: 70px;
  display: block;
  background-color: black;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-image: url(../img/rarrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  transition: all 1s;
}
footer a.Btop:hover {
  background-color: #1c9ad6;
}